@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;800&display=swap");

.title-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.title-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5rem;
}
