@use "../../app/styles/fonts" as fonts;
@use "../../app/styles/mixin" as mixin;

.mainWrapper {
  @include mixin.container();
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: center;
}

.logoMap {
  width: 150px;
  margin-top: 0.5rem;
  img {
    width: 100%;
  }
}

.info {
  margin-right: 1rem;

  .topName {
    color: #5a5a5a;
    @include fonts.title-thin($letter-spacing: 2.5px, $font-size: 2.5rem);

    @media (max-width: 1024px) {
      @include fonts.title-thin($letter-spacing: 2.5px, $font-size: 2rem);
    }

    @media (max-width: 600px) {
      @include fonts.title-thin($letter-spacing: 2.5px, $font-size: 1rem);
    }
  }

  .bottomName {
    color: #3d3c3c;
    @include fonts.title-bold($letter-spacing: 2px, $font-size: 3.3rem);

    @media (max-width: 1024px) {
      @include fonts.title-thin($letter-spacing: 2.5px, $font-size: 2rem);
    }

    @media (max-width: 600px) {
      @include fonts.title-thin($letter-spacing: 2.5px, $font-size: 1rem);
    }
  }
}

.carGrid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  margin-top: 2rem;
  justify-items: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }

  div {
    width: 15rem;
    cursor: pointer;

    @media (max-width: 1270px) {
      width: 100%;
      max-width: 240px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
      width: 100%;
      max-width: 240px;
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
